<!-- Views/Feedback/AdminIndex.cshtml -->
@{
    Layout = "_LayoutApp";
    ViewData["Title"] = "Admin Index";
}
<h2>Feedback List</h2>
<table class="table">
    <thead>
        <tr>
            <th>User</th>
            <th>Date</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.Date.ToShortDateString()</td>
                <td>@item.Type</td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-success">View</a>
                    <a href="@Url.Action("MarkAsResolved", new { id = item.Id })" class="btn btn-secondary">Mark as Resolved</a>
                    <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
