<!-- Views/Feedback/Index.cshtml -->
@{
    Layout = "_LayoutApp";
    ViewData["Title"] = "Feedback";
}



@if (User.IsInRole("Admin"))
{
    @* <h2>Feedback List</h2>
    <table class="table">
        <thead>
            <tr>
                <th>User</th>
                <th>Date</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.Date.ToShortDateString()</td>
                <td>@item.Type</td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-success">View</a>
                    <a href="@Url.Action("MarkAsResolved", new { id = item.Id })" class="btn btn-secondary">Mark as Resolved</a>
                    <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
 *@
    <div>
        <div class="feedback-title-searcbar-con">
            <h1 id="feedback-responses-title" class="modules_title" style="color: #464040;">Feedback Responses</h1>
            <div class="con-search-feedback">
                <input id="searchResponse" type="search" placeholder="Search feedback by keyword, user, or date..." />
                <img class="search-icon-feedback" src="~/images/Search_Small.png" />
            </div>
        </div>
        <div style="height: 1px;background: rgb(183,186,199);border-color: #9C9C9C;"></div>
        <div class="feedback-container">
            <div class="feedback-header-buttons">
                <div class="complain-suggestion-con">
                    <span id="user-complaints" class="complaint">Complaint</span>
                    <span id="user-suggestions" class="suggestion">Suggestion</span>
                </div>
                <div class="resolved-feedbacks-filter-con">
                    <span class="view-resolved-feedbacks">View Resolved Feedbacks</span>
                    <span class="filter">
                        Filter
                        <img src="~/images/Filter.png" width="25" height="23" />
                    </span>
                </div>
            </div>
            <div class="table-responsive feedback-responses-table">
                <table class="table">
                    <thead>
                        <tr class="feedback-table-label">
                            <th class="select-all-checkbox"><input type="checkbox" /></th>
                            <th class="user-name-feedback-label"><br /><br /><strong>User Name</strong></th>
                            <th class="date-feedback-label">Date</th>
                            <th class="type-of-issue-feedback-label"><br /><strong>Type of Issue</strong></th>
                            <th class="actions-feedback-label"><br /><span style="color: rgb(33, 37, 41);">Actions</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="row-feedback-response">
                            <td class="checkbox-container"><input id="checkbox-feedback-response" type="checkbox" /></td>
                            <td id="username-feedback-response">Alex Porlares</td>
                            <td id="date-feedback-response">2024-10-20</td>
                            <td id="type-of-issue-feedback-response">Inappropriate Content</td>
                            <td class="view-delete-button-container">
                                <button id="view-user-feedback-button" type="button">
                                    <img src="~/images/View_Green.png" />View
                                </button>
                                <button id="delete-user-feedback-button" class="delete-user-feedback-button" type="button">
                                    <img src="~/images/Delete.png" />Delete
                                </button>
                            </td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

} else
{
    <div>
        <div class="feedback-title-searcbar-con">
            <h1 id="feedback-responses-title" class="modules_title" style="color: #464040;">Feedback Responses</h1>
        </div>
        <hr>
        <div class="report-sugg-con">
            <span class="provide-feedback-guide-text">We value your input and are committed to improving our website. Please choose the type of feedback you would like to provide.</span>
            <div class="container complaint-nav-con">
                <span class="label-for-feedback-card">Report a Complaint</span>
                <span>If you have encountered any problems or bugs on our website, please let us know. Your report will help us make the site better for everyone.</span>
                <a href="@Url.Action("Complaint", "Feedback")" class="go-to-button-feedback">Go to Complaint Form</a>
            </div>
            <div class="container complaint-nav-con">
                <span class="label-for-feedback-card">Submit a Suggestion</span>
                <span>Do you have an idea or suggestion to enhance our website? We would love to hear from you! Share your thoughts on new features, improvements, or changes.</span>
                <a href="@Url.Action("Suggestion", "Feedback")" class="go-to-button-feedback">Go to Suggestion Form</a>
            </div>
        </div>
    </div>
}