@model GedsiHub.ViewModels.DemographicReportViewModel

@{
    Layout = "_LayoutApp";
    ViewData["Title"] = "Generate Demographic Report";
}

<!-- GENERATE DEMOGRAPHIC REPORT -->
<div>
    <div class="feedback-title-searcbar-con">
        <h1 id="feedback-responses-title" class="modules_title" style="color: #464040; padding-bottom: 0.5rem;">
            Generate Report
        </h1>
    </div>

    <!-- Display message if no users are found -->
    @if (TempData["NoDataMessage"] != null)
    {
        <div class="alert alert-warning" role="alert">
            @TempData["NoDataMessage"]
        </div>
    }

    <!-- Display error message if there is a validation or processing error -->
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["ErrorMessage"]
        </div>
    }

    <hr class="custom-hr">
    <span>Select the desired filters and options to generate your report.<br /></span>



    

        <div id="loading-spinner" style="display: none;">
            <img src="~/images/spinner.gif" alt="Loading..." />
        </div>

        <div class="container generate-report-container">

            <div class="report-toggle-container">
                <!-- Nav Pills for Tabs -->
                <ul class="nav nav-pills mb-3" id="reportTabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="demographic-tab" data-bs-toggle="pill" data-bs-target="#demographic" type="button" role="tab" aria-controls="demographic" aria-selected="true">
                            <img src="~/images/Demographics.png" />
                            Generate Demographic Report
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="module-tab" data-bs-toggle="pill" data-bs-target="#module" type="button" role="tab" aria-controls="module" aria-selected="false">
                            <img src="~/images/Book.png" />
                            Generate Module Report
                        </button>
                    </li>
                </ul>
            </div>
                



            <!-- Container for the reports generating -->
            <div class="report-toggle-container">

                <div id="generateDemoReportButton" class="report-toggle-button active">
                    <img src="~/images/Demographics.png" />
                    <span>Generate Demographic Report</span>
                </div>
                <div id="generateModReportButton" class="report-toggle-button">
                    <img src="~/images/Book.png" />
                    <span>Generate Module Report</span>
                </div>
            </div>
            <!-- Tab Content -->
            <div class="tab-content" id="reportTabsContent">

                <!-- Content for Demographic Report -->
                <div class="tab-pane fade show active" id="demographic" role="tabpanel" aria-labelledby="demographic-tab">
                    <form asp-action="Demographic" method="post">
                        @Html.AntiForgeryToken()
                        <h1>Filters</h1>
                        <div class="report-inside-container">
                            <div class="container-of-cols">
                                <div class="col-1-filter">
                                    <div class="filter-label-date">
                                        <span>Date Range:</span>
                                        @*  @Html.DropDownListFor(model => model.DateRange, Model.DateRangeOptions, "Select a Date Range", new { @id = "dateRangeSelect" })
                                        @Html.ValidationMessageFor(model => model.DateRange, "", new { @class = "text-danger" }) *@

                                        @* <!-- Custom date range fields -->
                                        <div id="customDateContainer" style="display: none; margin-top: 1rem;">
                                        </div> *@

                                        @Html.TextBoxFor(model => model.CustomStartDate, new { type = "date" })
                                        @Html.ValidationMessageFor(model => model.CustomStartDate, "", new { @class = "text-danger" })

                                        <span>to</span>
                                        @Html.TextBoxFor(model => model.CustomEndDate, new { type = "date" })
                                        @Html.ValidationMessageFor(model => model.CustomEndDate, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="filter-label-select">
                                        <span>Campus:</span>
                                        <select name="Campus">
                                            <option value="" disabled selected>Select a PUP Campus</option>
                                            @foreach (var campus in Model.CampusOptions)
                                            {
                                                <option value="@campus.Value">@campus.Text</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="filter-label-select">
                                        <span>Age Group:</span>
                                        <select name="AgeGroup">
                                            <option value="" disabled selected>Select Age Group</option>
                                            @foreach (var age in Model.AgeGroupOptions)
                                            {
                                                <option value="@age.Value">@age.Text</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="col-2-filter">
                                    <div class="filter-label-select">
                                        <span>Sex:</span>
                                        <select name="Sex">
                                            <option value="" disabled selected>Select Sex</option>
                                            @foreach (var sex in Model.SexOptions)
                                            {
                                                <option value="@sex.Value">@sex.Text</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="filter-label-select">
                                        <span>Gender Identity:</span>
                                        <select name="GenderIdentity">
                                            <option value="" disabled selected>Select Gender Identity</option>
                                            @foreach (var gender in Model.GenderIdentityOptions)
                                            {
                                                <option value="@gender.Value">@gender.Text</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="filter-label-select">
                                        <span>Type of User:</span>
                                        <select name="UserType" id="userType" onchange="toggleUserFields()">
                                            <option value="select" disabled selected>Select User Type</option>
                                            @foreach (var userType in Model.UserTypeOptions)
                                            {
                                                <option value="@userType.Value">@userType.Text</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h1>Include in Report</h1>
                        <div class="report-inside-container">
                            <div class="con-of-cols-include-report">
                                <div id="col-1-include-in-report" class="col-include-in-report">
                                    <div class="include-checkbox-label">
                                        <input type="checkbox" id="selectAllGroup1" />
                                        <span>Select All</span>
                                    </div>
                                    <div class="include-checkbox-label">
                                        @Html.CheckBoxFor(m => m.IncludeIdNumber, new { @class = "checkbox-item-group1" })
                                        <span>ID Number</span>
                                    </div>
                                    <div class="include-checkbox-label">
                                        @Html.CheckBoxFor(m => m.IncludeName, new { @class = "checkbox-item-group1" })
                                        <span>Name</span>
                                    </div>
                                    <div class="include-checkbox-label">
                                        @Html.CheckBoxFor(m => m.IncludeWebmail, new { @class = "checkbox-item-group1" })
                                        <span>Webmail</span>
                                    </div>
                                    <div class="include-checkbox-label">
                                        @Html.CheckBoxFor(m => m.IncludePhoneNumber, new { @class = "checkbox-item-group1" })
                                        <span>Phone Number</span>
                                    </div>
                                    <div class="include-checkbox-label">
                                        @Html.CheckBoxFor(m => m.IncludeDateOfBirth, new { @class = "checkbox-item-group1" })
                                        <span>Date of Birth</span>
                                    </div>
                                </div>
                                <div id="col-2-include-in-report" class="col-include-in-report">
                                    <div class="include-checkbox-label">
                                        @Html.CheckBoxFor(m => m.IncludeAge, new { @class = "checkbox-item-group1" })
                                        <span>Age</span>
                                    </div>
                                    <div class="include-checkbox-label">
                                        @Html.CheckBoxFor(m => m.IncludeSex, new { @class = "checkbox-item-group1" })
                                        <span>Sex</span>
                                    </div>
                                    <div class="include-checkbox-label">
                                        @Html.CheckBoxFor(m => m.IncludeGender, new { @class = "checkbox-item-group1" })
                                        <span>Gender</span>
                                    </div>
                                    <div class="include-checkbox-label">
                                        @Html.CheckBox("IncludeIndigenousCommunity", false, new { @class = "checkbox-item-group1" })
                                        <span>Indigenous Community</span>
                                    </div>
                                    <div class="include-checkbox-label">
                                        @Html.CheckBox("IncludeDifferentlyAbled", false, new { @class = "checkbox-item-group1" })
                                        <span>Differently Abled</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h1>Report Options</h1>
                        <div class="report-inside-container report-options-container">
                            <div class="col-1-filter">
                                <div class="filter-label-select">
                                    <span>Group By:</span>
                                    <select name="GroupBy">
                                        <option value="none" selected>None</option>
                                        <option value="age">Age</option>
                                        <option value="sex">Sex</option>
                                        <option value="gender">Gender Identity</option>
                                    </select>
                                </div>
                                <div class="filter-label-select">
                                    <span>Sort By:</span>
                                    <select name="SortBy">
                                        <option value="name" selected>Name</option>
                                        <option value="age">Age</option>
                                        <option value="date">Date</option>
                                    </select>
                                </div>
                                <div class="filter-label-select">
                                    <span>File Format:</span>
                                    <select name="FileFormat" required>
                                        <option value="CSV">CSV</option>
                                        <option value="PDF">PDF</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="gen-report-button-container">
                            <button class="generate-report-button" type="submit">Generate Report</button>
                            <button class="generate-report-cancel-button" type="button">Cancel</button>
                        </div>
                    </form>
                </div>


                <!-- Content for Module Report -->
                <div class="tab-pane fade" id="module" role="tabpanel" aria-labelledby="module-tab">
                    <h1 style="margin-top: 1rem;">Select Module</h1>
                    <div class="report-inside-container report-gen-module-container">
                        <span>Choose a module to generate the report:</span>
                        <select class="report-gen-select-module">
                            <optgroup label="This is a group">
                                <option value="12" selected>This is item 1</option>
                                <option value="13">This is item 2</option>
                                <option value="14">This is item 3</option>
                            </optgroup>
                        </select>
                    </div>
                    <h1>Select Metrics to Include</h1>

                    <div class="report-inside-container">
                        <div class="con-of-cols-include-report">
                            <div id="col-1-include-in-report-module" class="col-include-in-report">
                                <div class="include-checkbox-label metrics-include-checkbox-label">
                                    <input type="checkbox" id="selectAll" /><span>Select All</span>
                                </div>
                                <div class="include-checkbox-label metrics-include-checkbox-label">
                                    <input type="checkbox" class="checkbox-item" /><span>Completion Rates</span>
                                </div>
                                <div class="include-checkbox-label">
                                    <input type="checkbox" class="checkbox-item" /><span>Average Scores</span>
                                </div>
                                <div class="include-checkbox-label">
                                    <input type="checkbox" class="checkbox-item" /><span>Time Spent</span>
                                </div>
                            </div>
                            <div id="col-2-include-in-report-module" class="col-include-in-report">
                                <div class="include-checkbox-label">
                                    <input type="checkbox" class="checkbox-item" /><span>Engagement Levels</span>
                                </div>
                                <div class="include-checkbox-label">
                                    <input type="checkbox" class="checkbox-item" /><span>Pass/Fail Rates</span>
                                </div>
                                <div class="include-checkbox-label">
                                    <input type="checkbox" class="checkbox-item" /><span>Score Distribution</span>
                                </div>
                                <div class="include-checkbox-label">
                                    <input type="checkbox" class="checkbox-item" /><span>Item Analysis</span>
                                </div>
                            </div>
                            <div id="col-3-include-in-report" class="col-include-in-report">
                                <div id="studentCheckboxField">
                                    <div class="include-checkbox-label">
                                        <input type="checkbox" class="checkbox-item" /><span>Department</span>
                                    </div>
                                    <div class="include-checkbox-label">
                                        <input type="checkbox" class="checkbox-item" /><span>Course</span>
                                    </div>
                                    <div class="include-checkbox-label">
                                        <input type="checkbox" class="checkbox-item" /><span>Year of Study</span>
                                    </div>
                                    <div class="include-checkbox-label">
                                        <input type="checkbox" class="checkbox-item" /><span>Section</span>
                                    </div>
                                </div>
                                <div id="employeeCheckboxField">
                                    <div class="include-checkbox-label">
                                        <input type="checkbox" class="checkbox-item" /><span>Employee Type</span>
                                    </div>
                                    <div class="include-checkbox-label">
                                        <input type="checkbox" class="checkbox-item" /><span>Employee Status</span>
                                    </div>
                                    <div class="include-checkbox-label">
                                        <input type="checkbox" class="checkbox-item" /><span>Sector</span>
                                    </div>
                                    <div class="include-checkbox-label">
                                        <input type="checkbox" class="checkbox-item" /><span>Branch/Office/Section/Unit</span>
                                    </div>
                                    <div class="include-checkbox-label">
                                        <input type="checkbox" class="checkbox-item" /><span>Position/Designation</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h1>Reports Options</h1>
                    <div class="report-inside-container report-options-container">
                        <div class="col-1-filter">
                            <div class="filter-label-select">
                                <span>Group By:</span><select>
                                    <optgroup label="This is a group">
                                        <option value="12" selected>This is item 1</option>
                                        <option value="13">This is item 2</option>
                                        <option value="14">This is item 3</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="filter-label-select">
                                <span>Sort By:</span><select>
                                    <optgroup label="This is a group">
                                        <option value="12" selected>This is item 1</option>
                                        <option value="13">This is item 2</option>
                                        <option value="14">This is item 3</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="filter-label-select">
                                <span>File Format:</span><select>
                                    <optgroup label="This is a group">
                                        <option value="12" selected>This is item 1</option>
                                        <option value="13">This is item 2</option>
                                        <option value="14">This is item 3</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="gen-report-button-container"><button class="generate-report-button" type="button">Generate Report</button><button class="generate-report-cancel-button" type="button">Cancel</button></div>
                </div>
             </div>        
            
        </div>
    
</div>

@await Html.PartialAsync("_ValidationScriptsPartial")





<!--GENERATE MODULE REPORT-->


    
    <div class="container generate-report-container">
        
    </div>






@* <!--GENERATE DEMOGRAPHIC REPORT-->
    <!-- DONT REMOVED!!! -->


    <div class="container generate-report-container">
        <h1>Filters</h1>
        <div class="report-inside-container">
            <div class="container-of-cols">
                <div class="col-1-filter">

                    <div>
                        <div class="filter-label-select">
                            <span>Date Range:</span>
                            <select id="dateRangeSelect">
                                    <option value="" selected disabled>Select a Date Range</option>
                                    <option value="7days">Last 7 days</option>
                                    <option value="28days">Last 28 days</option>
                                    <option value="60days">Last 60 days</option>
                                    <option value="custom">Custom</option> <!-- Custom option triggers the calendar -->
                              
                            </select>
                        </div>

                        <!-- Container for the calendar (initially hidden) -->
                        <div id="customDateContainer">
                            <div id="inlineDatePicker"></div>
                        </div>
                    </div>

                    <div class="filter-label-select">
                        <span>Campus:</span>
                        <select>
                            <option value="" disabled selected>Select a PUP Campus</option>
                            <option value="sta-mesa">Sta. Mesa, Manila (Main Campus)</option>
                            <option value="ndc-compound">NDC Compound, Sta. Mesa, Manila</option>
                            <option value="mh-del-pilar">M.H. Del Pilar, Sta. Mesa, Manila</option>
                            <option value="taguig">Taguig City (Branch)</option>
                            <option value="quezon-city">Quezon City (Branch)</option>
                            <option value="san-juan">San Juan City (Branch)</option>
                            <option value="paranaque">Parañaque City (Campus)</option>
                            <option value="bataan">Bataan (Branch)</option>
                            <option value="sta-maria">Sta. Maria, Bulacan (Campus)</option>
                            <option value="pulilan">Pulilan, Bulacan (Campus)</option>
                            <option value="cabiao">Cabiao, Nueva Ecija (Campus)</option>
                            <option value="lopez">Lopez, Quezon (Branch)</option>
                            <option value="mulanay">Mulanay, Quezon (Branch)</option>
                            <option value="general-luna">General Luna, Quezon (Mulanay Annex)</option>
                            <option value="unisan">Unisan, Quezon (Branch)</option>
                            <option value="ragay">Ragay, Camarines Sur (Branch)</option>
                            <option value="sto-tomas">Sto. Tomas, Batangas (Branch)</option>
                            <option value="maragondon">Maragondon, Cavite (Branch)</option>
                            <option value="alfonso">Alfonso, Cavite (Maragondon Annex)</option>
                            <option value="bansud">Bansud, Oriental Mindoro (Branch)</option>
                            <option value="sablayan">Sablayan, Occidental Mindoro (Branch)</option>
                            <option value="binan">Biñan, Laguna (Campus)</option>
                            <option value="san-pedro">San Pedro, Laguna (Campus)</option>
                            <option value="sta-rosa">Sta. Rosa, Laguna (Campus)</option>
                            <option value="calauan">Calauan, Laguna (Campus)</option>
                        </select>
                    </div>
                    <div class="filter-label-select">
                        <span>Age Group:</span>
                        <select>
                            <option value="" disabled selected>Select Age Group</option>
                            <option value="15-19">15-19</option>
                            <option value="21-30">21-30</option>
                            <option value="31-40">31-40</option>
                            <option value="41-50">41-50</option>
                            <option value="51-60">51-60</option>
                            <option value="61+">61+</option>
                        </select>
                    </div>
                </div>

                <div class="col-2-filter">
                    <div class="filter-label-select">
                        <span>Sex:</span>
                        <select>
                            <option value="" disabled selected>Select Sex</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                    <div class="filter-label-select">
                        <span>Gender Identity:</span>
                        <select>
                            <option value="" disabled selected>Select Gender Identity</option>
                            <option value="Cisgender">Cisgender</option>
                            <option value="Transgender">Transgender</option>
                            <option value="Agender">Agender</option>
                            <option value="Gender Fluid">Gender Fluid</option>
                            <option value="Gender Queer">Gender Queer</option>
                        </select>
                    </div>
                    <div class="filter-label-select">
                        <span>Type of User:</span>
                        <select id="userType" onchange="toggleUserFields()">
                            <option value="select" disabled selected>Select User Type</option>
                            <option value="student">Student</option>
                            <option value="employee">Employee</option>
                        </select>
                    </div>
                    <div id="studentFields">
                        <div class="filter-label-select">
                            <span>Department:</span>
                            <select>
                                <option value="select" disabled selected>Select Department</option>
                                <option value="COE">College of Engineering</option>
                                <option value="FEO">Faculty Evaluations Office</option>
                                <option value="NSTP">National Service Training Program</option>
                                <option value="CAFA">College of Architecture and Fine Arts</option>
                                <option value="ITech">Institute of Technology</option>
                                <option value="CS">College of Science</option>
                                <option value="GS">Graduate School</option>
                                <option value="CTHTM">College of Tourism, Hospitality and Transportation Management</option>
                                <option value="CBA">College of Business Administration</option>
                                <option value="CAF">College of Accountancy and Finance</option>
                                <option value="CSSD">College of Social Sciences and Development</option>
                                <option value="NALLRC">Ninoy Aquino Library and Learning Resources Center</option>
                                <option value="SHS">Senior High School</option>
                                <option value="OU">Open University</option>
                                <option value="CCIS">College of Computer and Information Sciences</option>
                                <option value="COC">College of Communication</option>
                                <option value="CPSPA">College of Political Science and Public Administration</option>
                                <option value="CAL">College of Arts and Letters</option>
                            </select>
                        </div>
                        <div class="filter-label-select">
                            <span>Course:</span>
                            <select>
                                <option value="0" disabled selected>Select Course</option>
                                <option value="1">Bachelor of Science in Accountancy (BSA)</option>
                                <option value="2">Bachelor of Science in Management Accounting (BSMA)</option>
                                <option value="3">Bachelor of Science in Business Administration Major in Financial Management (BSBAFM)</option>
                                <option value="4">Bachelor of Science in Architecture (BSARCH)</option>
                                <option value="5">Bachelor of Science in Interior Design (BSID)</option>
                                <option value="6">Bachelor of Science in Environmental Planning (BSEP)</option>
                                <option value="7">Bachelor of Arts in English Language Studies (ABELS)</option>
                                <option value="8">Bachelor of Arts in Filipinology (ABF)</option>
                                <option value="9">Bachelor of Arts in Literary and Cultural Studies (ABLCS)</option>
                                <option value="10">Bachelor of Arts in Philosophy (ABPHILO)</option>
                                <option value="11">Bachelor of Performing Arts major in Theater Arts (BPEA)</option>
                                <option value="12">Doctor in Business Administration (DBA)</option>
                                <option value="13">Master in Business Administration (MBA)</option>
                                <option value="14">Bachelor of Science in Business Administration major in Human Resource Management (BSBAHRM)</option>
                                <option value="15">Bachelor of Science in Business Administration major in Marketing Management (BSBAMM)</option>
                                <option value="16">Bachelor of Science in Entrepreneurship (BSENTREP)</option>
                                <option value="17">Bachelor of Science in Office Administration (BSOA)</option>
                                <option value="18">Bachelor in Advertising and Public Relations (BADPR)</option>
                                <option value="19">Bachelor of Arts in Broadcasting (BABroadcasting)</option>
                                <option value="20">Bachelor of Arts in Communication Research (BACR)</option>
                                <option value="21">Bachelor of Arts in Journalism (BAJ)</option>
                                <option value="22">Bachelor of Science in Computer Science (BSCS)</option>
                                <option value="23">Bachelor of Science in Information Technology (BSIT)</option>
                                <option value="24">Doctor of Philosophy in Education Management (PhDEM)</option>
                                <option value="25">Master of Arts in Education Management with Specialization in Educational Leadership (MAEM-EL)</option>
                                <option value="26">Master of Arts in Education Management with Specialization in Instructional Leadership (MAEM-IL)</option>
                                <option value="27">Master in Business Education (MBE)</option>
                                <option value="28">Master in Library and Information Science (MLIS)</option>
                                <option value="29">Master of Arts in English Language Teaching (MAELT)</option>
                                <option value="30">Master of Arts in Education major in Mathematics Education (MAEd-ME)</option>
                                <option value="31">Master of Arts in Physical Education and Sports (MAPES)</option>
                                <option value="32">Master of Arts in Education major in Teaching Challenged Areas (MAED-TCA)</option>
                                <option value="33">Post-Baccalaureate Diploma in Education (PBDE)</option>
                                <option value="34">Bachelor of Technology and Livelihood Education major in Home Economics (BTLEd-HE)</option>
                                <option value="35">Bachelor of Technology and Livelihood Education major in Industrial Arts (BTLEd-IA)</option>
                                <option value="36">Bachelor of Technology and Livelihood Education major in Information and Communication Technology (BTLEd-ICT)</option>
                                <option value="37">Bachelor of Library and Information Science (BLIS)</option>
                                <option value="38">Bachelor of Elementary Education (BEEd)</option>
                                <option value="39">Bachelor of Early Childhood Education (BECEd)</option>
                                <option value="40">Bachelor of Science in Civil Engineering (BSCE)</option>
                                <option value="41">Bachelor of Science in Computer Engineering (BSCpE)</option>
                                <option value="42">Bachelor of Science in Electrical Engineering (BSEE)</option>
                                <option value="43">Bachelor of Science in Electronics Engineering (BSECE)</option>
                                <option value="44">Bachelor of Science in Industrial Engineering (BSIE)</option>
                                <option value="45">Bachelor of Science in Mechanical Engineering (BSME)</option>
                                <option value="46">Bachelor of Science in Railway Engineering (BSRE)</option>
                                <option value="47">Bachelor of Physical Education (BPE)</option>
                                <option value="48">Bachelor of Science in Exercises and Sports (BSESS)</option>
                                <option value="49">Juris Doctor (JD)</option>
                                <option value="50">Doctor in Public Administration (DPA)</option>
                                <option value="51">Master in Public Administration (MPA)</option>
                                <option value="52">Bachelor of Public Administration (BPA)</option>
                                <option value="53">Bachelor of Arts in International Studies (BAIS)</option>
                                <option value="54">Bachelor of Arts in Political Economy (BAPE)</option>
                                <option value="55">Bachelor of Arts in Political Science (BAPS)</option>
                                <option value="56">Bachelor of Arts in History (BAH)</option>
                                <option value="57">Bachelor of Arts in Sociology (BAS)</option>
                                <option value="58">Bachelor of Science in Cooperatives (BSC)</option>
                                <option value="59">Bachelor of Science in Economics (BSE)</option>
                                <option value="60">Bachelor of Science in Psychology (BSPSY)</option>
                                <option value="61">Bachelor of Science in Food Technology (BSFT)</option>
                                <option value="62">Bachelor of Science in Applied Mathematics (BSAPMATH)</option>
                                <option value="63">Bachelor of Science in Biology (BSBIO)</option>
                                <option value="64">Bachelor of Science in Chemistry (BSCHEM)</option>
                                <option value="65">Bachelor of Science in Mathematics (BSMATH)</option>
                                <option value="66">Bachelor of Science in Nutrition and Dietetics (BSND)</option>
                                <option value="67">Bachelor of Science in Physics (BSPHY)</option>
                                <option value="68">Bachelor of Science in Statistics (BSSTAT)</option>
                                <option value="69">Bachelor of Science in Hospitality Management (BSHM)</option>
                                <option value="70">Bachelor of Science in Tourism Management (BSTM)</option>
                                <option value="71">Bachelor of Science in Transportation Management (BSTRM)</option>
                            </select>
                        </div>
                        <div class="filter-label-number">
                            <span>Year of Study:</span>
                            <input type="number" id="numberInput" name="quantity" min="0" placeholder="Enter Year of Study">                       
                        </div>
                        <div class="filter-label-text">
                            <span>Section:</span>
                            <input type="text" id="textInputSection" name="Section" placeholder="Enter Section">

                        </div>
                    </div>
                    <div id="employeeFields">
                        <div class="filter-label-select">
                            <span>Employee Type:</span>
                            <select>
                                <option value="" disabled selected>Select Employee Type</option>
                                <option value="Faculty">Faculty</option>
                                <option value="Administrative Staff">Administrative Staff</option>
                                <option value="Designee">Designee</option>
                            </select>
                        </div>
                        <div class="filter-label-select">
                            <span>Employment Status:</span>
                            <select>
                                <option value="" disabled selected>Select Employment Status</option>
                                <option value="Permanent">Permanent</option>
                                <option value="Casual">Casual</option>
                                <option value="Contract of Service">Contract of Service</option>
                                <option value="Job Order">Job Order</option>
                                <option value="Temporary">Temporary</option>
                                <option value="Part-time">Part-time</option>
                            </select>
                        </div>
                        <div class="filter-label-select">
                            <span>Sector:</span>
                            <select>
                                <option value="" disabled selected>Select your sector</option>
                                <option value="OEVP">Office of the Executive Vice President</option>
                                <option value="OVPAA">Office of the Vice President for Academic Affairs</option>
                                <option value="OVPF">Office of the Vice President for Planning and Finance</option>
                                <option value="OVPSAS">Office of the Vice President for Student Affairs and Services</option>
                                <option value="OVPA">Office of the Vice President for Administration</option>
                                <option value="OVPC">Office of the Vice President for Campuses</option>
                                <option value="OVPRED">Office of the Vice President for Research, Extension, and Development</option>
                                <option value="OPRES">Office of the President</option>
                            </select>
                        </div>
                        <div class="filter-label-select">
                            <span>Branch/Office/Section/Unit:</span>
                            <select>
                                <option value="" disabled selected>Select your Branch/Office/Section/Unit</option>
                                <option value="OVEP">Office of the Executive Vice President</option>
                                <option value="ICTO">Information and Communications Technology Office</option>
                                <option value="IDSA">Institute for Data and Statistical Analysis</option>
                                <option value="IAO">Internal Audit Office</option>
                                <option value="IMO">Inspection Management Office</option>
                                <option value="OIA">Office of the International Affairs</option>
                                <option value="UPP">University Printing Press</option>
                                <option value="OVPAA">Office of the Vice President for Academic Affairs</option>
                                <option value="COE">College of Engineering</option>
                                <option value="FEO">Faculty Evaluations Office</option>
                                <option value="NSTP">National Service Training Program</option>
                                <option value="CAFA">College of Architecture and Fine Arts</option>
                                <option value="ITech">Institute of Technology</option>
                                <option value="CS">College of Science</option>
                                <option value="GS">Graduate School</option>
                                <option value="CTHTM">College of Tourism, Hospitality and Transportation Management</option>
                                <option value="CBA">College of Business Administration</option>
                                <option value="CAF">College of Accountancy and Finance</option>
                                <option value="CSSD">College of Social Sciences and Development</option>
                                <option value="NALLRC">Ninoy Aquino Library and Learning Resources Center</option>
                                <option value="SHS">Senior High School</option>
                                <option value="OU">Open University</option>
                                <option value="CCIS">College of Computer and Information Sciences</option>
                                <option value="COC">College of Communication</option>
                                <option value="CPSPA">College of Political Science and Public Administration</option>
                                <option value="CAL">College of Arts and Letters</option>
                                <option value="AD">Accounting Department</option>
                                <option value="BSO">Budget Services Office</option>
                                <option value="FMO">Fund Management Office</option>
                                <option value="RGO">Resource Generation Office</option>
                                <option value="IPO">Institutional Planning Office</option>
                                <option value="OVPSAS">Office of the Vice President for Student Affairs and Services</option>
                                <option value="ARCDO">Alumni Relations and Career Development Office</option>
                                <option value="OCPS">Office of Counseling and Psychological Services</option>
                                <option value="OSFA">Office of Scholarship and Financial Assistance</option>
                                <option value="OSS">Office of the Student Services</option>
                                <option value="OUR">Office of the University Registrar</option>
                                <option value="SDPO">Sports Development Office</option>
                                <option value="UCCA">University Center for Culture and the Arts</option>
                                <option value="CRO">Central Records Office</option>
                                <option value="FMO">Facility Management Office</option>
                                <option value="GSO">General Services Office</option>
                                <option value="HRMD">Human Resource Management Department</option>
                                <option value="MHDPC">M.H Del Pilar Campus</option>
                                <option value="MSD">Medical Services Department</option>
                                <option value="PPDO">Physical Planning and Development Office</option>
                                <option value="PMO">Procurement Management Office</option>
                                <option value="PSMO">Philippine Society of Medical Oncology</option>
                                <option value="USSO">University Safety and Security Office</option>
                                <option value="OVPC">Office of the Vice President for Campuses</option>
                                <option value="PUP-SPC">PUP San Pedro Campus</option>
                                <option value="PUP-Mulanay">PUP Mulanay</option>
                                <option value="PUP-QC">PUP Quezon City</option>
                                <option value="PUP-Unisan">PUP Unisan</option>
                                <option value="PUP-SJ">PUP San Juan</option>
                                <option value="PUP-Alfonso">PUP Alfonso</option>
                                <option value="PUP-Bataan">PUP Bataan</option>
                                <option value="PUP-Sta.Maria>PUP Sta. Maria</option>
                                <option value="PUP-Ragay">PUP Ragay</option>
                                <option value="PUP-ST">PUP Sto. Tomas</option>
                                <option value="PUP-Cabiao">PUP Cabiao</option>
                                <option value="OVPRED">Office of the Vice President for Research, Extension and Development</option>
                                <option value="RMO">Research Management Office</option>
                                <option value="EMO">Research Management Office</option>
                                <option value="IQMSO">Institutional Quality Management System Office</option>
                                <option value="IPMO">Intellectual Property Management Office</option>
                                <option value="RIHSD">Research Institute for Human and Social Development</option>
                                <option value="RICL">Research Institute for Culture and Language</option>
                                <option value="RIST">Research Institute for Science and Technology</option>
                                <option value="OPRES">Office of the President</option>
                                <option value="CMO">Communications Management Office</option>
                                <option value="OUBC">Office of the University Board Secretary</option>
                                <option value="ULCO">University Legal Counsel Office</option>
                                <option value="SPPO">Special Programs and Projects Office</option>

                            </select>
                        </div>
                        <div class="filter-label-text">
                            <span>Position/Designation:</span>
                            <input type="text" id="textInputPosition" name="Position" placeholder="Enter Position/Designation">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h1>Include in Report</h1>
        <div class="report-inside-container">
            <div class="con-of-cols-include-report">
                <div id="col-1-include-in-report" class="col-include-in-report">
                    <div class="include-checkbox-label">
                        <input type="checkbox" id="selectAllGroup1" />
                        <span>Select All</span>
                    </div>
                    <div class="include-checkbox-label">
                        <input type="checkbox" class="checkbox-item-group1" />
                        <span>ID Number</span>
                    </div>
                    <div class="include-checkbox-label">
                        <input type="checkbox" class="checkbox-item-group1" />
                        <span>Name</span>
                    </div>
                    <div class="include-checkbox-label">
                        <input type="checkbox" class="checkbox-item-group1" />
                        <span>Webmail</span>
                    </div>
                    <div class="include-checkbox-label">
                        <input type="checkbox" class="checkbox-item-group1" />
                        <span>Phone Number</span>
                    </div>
                    <div class="include-checkbox-label">
                        <input type="checkbox" class="checkbox-item-group1" />
                        <span>Date of Birth</span>
                    </div>
                </div>
                <div id="col-2-include-in-report" class="col-include-in-report">
                    <div class="include-checkbox-label">
                        <input type="checkbox" class="checkbox-item-group1" />
                        <span>Age</span>
                    </div>
                    <div class="include-checkbox-label">
                        <input type="checkbox" class="checkbox-item-group1" />
                        <span>Sex</span>
                    </div>
                    <div class="include-checkbox-label">
                        <input type="checkbox" class="checkbox-item-group1" />
                        <span>Gender</span>
                    </div>
                    <div class="include-checkbox-label">
                        <input type="checkbox" class="checkbox-item-group1" />
                        <span>Indigenous Community</span>
                    </div>
                    <div class="include-checkbox-label">
                        <input type="checkbox" class="checkbox-item-group1" />
                        <span>Differently Abled</span>
                    </div>
                </div>
                <div id="col-3-include-in-report" class="col-include-in-report">
                    <div id="studentCheckboxField">
                        <div class="include-checkbox-label">
                            <input type="checkbox" class="checkbox-item-group1" />
                            <span>Department</span>
                        </div>
                        <div class="include-checkbox-label">
                            <input type="checkbox" class="checkbox-item-group1" />
                            <span>Course</span>
                        </div>
                        <div class="include-checkbox-label">
                            <input type="checkbox" class="checkbox-item-group1" />
                            <span>Year of Study</span>
                        </div>
                        <div class="include-checkbox-label">
                            <input type="checkbox" class="checkbox-item-group1" />
                            <span>Section</span>
                        </div>
                    </div>
                    <div id="employeeCheckboxField">
                        <div class="include-checkbox-label">
                            <input type="checkbox" class="checkbox-item-group1" />
                            <span>Employee Type</span>
                        </div>
                        <div class="include-checkbox-label">
                            <input type="checkbox" class="checkbox-item-group1" />
                            <span>Employee Status</span>
                        </div>
                        <div class="include-checkbox-label">
                            <input type="checkbox" class="checkbox-item-group1" />
                            <span>Sector</span>
                        </div>
                        <div class="include-checkbox-label">
                            <input type="checkbox" class="checkbox-item-group1" />
                            <span>Branch/Office/Section/Unit</span>
                        </div>
                        <div class="include-checkbox-label">
                            <input type="checkbox" class="checkbox-item-group1" />
                            <span>Position/Designation</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <h1>Reports Options</h1>
        <div class="report-inside-container report-options-container">
            <div class="col-1-filter">
                <div class="filter-label-select">
                    <span>Group By:</span>
                    <select>
                        <optgroup label="This is a group">
                            <option value="12" selected>This is item 1</option>
                            <option value="13">This is item 2</option>
                            <option value="14">This is item 3</option>
                        </optgroup>
                    </select>
                </div>
                <div class="filter-label-select">
                    <span>Sort By:</span>
                    <select>
                        <optgroup label="This is a group">
                            <option value="12" selected>This is item 1</option>
                            <option value="13">This is item 2</option>
                            <option value="14">This is item 3</option>
                        </optgroup>
                    </select>
                </div>
                <div class="filter-label-select">
                    <span>File Format:</span>
                    <select>
                        <optgroup label="This is a group">
                            <option value="12" selected>This is item 1</option>
                            <option value="13">This is item 2</option>
                            <option value="14">This is item 3</option>
                        </optgroup>
                    </select>
                </div>
            </div>
        </div>

        <div class="gen-report-button-container">
            <button class="generate-report-button" type="button">Generate Report</button>
            <button class="generate-report-cancel-button" type="button">Cancel</button>
        </div>
    </div>

 *@
















<!-- Custom Date Picker Script -->
<script>
    // Show loading spinner on form submit
    document.querySelector("form").addEventListener("submit", function () {
        document.getElementById("loading-spinner").style.display = "block";
    });

    // Handle custom date range visibility
    document.addEventListener("DOMContentLoaded", function () {
        const dateRangeSelect = document.getElementById("dateRangeSelect");
        const customDateContainer = document.getElementById("customDateContainer");

        dateRangeSelect.addEventListener("change", function () {
            if (this.value === "custom") {
                customDateContainer.style.display = "block";
            } else {
                customDateContainer.style.display = "none";
            }
        });

        // Initially hide the custom date container
        customDateContainer.style.display = "none";
    });
</script>
