@model IEnumerable<GedsiHub.Models.Module>
@{
    Layout = "_LayoutApp";
    ViewData["Title"] = "Module";
}






<div>
    <div id="ModulesHeader">
        <h1 class="modules_title" style="color: #464040;margin-left: 0px;">Modules</h1>
        <input type="search" id="SearchModule" class="SearchModule" placeholder="Search for modules">
        <img id="SearchModuleButton" class="SearchModule_Icon" src="~/images/Search_Small.png" style="position: absolute;">
        <button asp-action="Create" class="btn btn-primary d-xxl-flex addModuleTopButton" id="addModuleTopButton" type="button">
            <img id="addModuleTopAddIcon" src="~/images/Add_White.png">Add New Module
        </button>
    </div>

    <div class="break_title"></div>


    <div class="align-items-end flex-wrap ModuleCards_Container" id="moduleCardsContainer">
        <button class="btn add-new-module" type="button" onclick="window.location.href='addNewModule.html'">
            <img class="d-xxl-flex add_icon" src="~/images/Add.png" />Add New Module
        </button>
    </div>

    <div class="align-items-end flex-wrap ModuleCards_Container" id="SearchResults"></div>
</div>

<h2>Modules</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Module</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Created Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var module in Model)
        {
            <tr>
                <td>@module.Title</td>
                <td>@module.Description</td>
                <td>@module.CreatedDate.ToShortDateString()</td>
                <td>
                    <a asp-action="Details" asp-route-id="@module.ModuleId" class="btn btn-info">Details</a> |
                    <a asp-action="Edit" asp-route-id="@module.ModuleId" class="btn btn-warning">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@module.ModuleId" class="btn btn-danger">Delete</a>
                </td>
            </tr>

        }       
    </tbody>
</table>


