@model IEnumerable<GedsiHub.Models.Module>

@{
    Layout = "_LayoutApp";
    ViewData["Title"] = "Module";
}

<div>
    <!-- Module Page Header -->
    <div id="ModulesHeader">
        <h1 class="modules_title" style="color: #464040;">Modules</h1>

        <!-- Search Input for Modules -->
        <input type="search" id="SearchModule" class="SearchModule" placeholder="Search for modules">
        <img id="SearchModuleButton" class="SearchModule_Icon" src="~/images/Search_Small.png" style="position: absolute;">

        <!-- Create Module Button -->
        <a asp-action="Create" class="btn btn-primary d-xxl-flex addModuleTopButton" id="addModuleTopButton">
            <img id="addModuleTopAddIcon" src="~/images/Add_White.png" /> Add New Module
        </a>
    </div>

    <div class="break_title"></div>

    <!-- Module Cards Container -->
    <div class="align-items-end flex-wrap ModuleCards_Container" id="moduleCardsContainer">
        <!-- Loop through each module and create a module card -->
        @foreach (var module in Model)
        {
            <!-- Make the entire module card clickable -->
            <div class="module_card" id="moduleCard-@module.ModuleId" style="padding-right: 2.1rem; padding-left: 2.1rem;">
                <!-- Module Icon -->
                <div class="moduleIcon_container" style="color: rgb(33, 37, 41); margin-left: 0px;">
                    <img class="ModuleTempIcon" src="~/images/GADO_Logo_white.png" />
                    <!-- Color Picker with module ID in the input id -->
                    <input id="colorPicker-@module.ModuleId" class="ColorInput" type="color" value="Color" />
                </div>


                <!-- Module Title -->
                <!-- The module title can be directed to its details -->
                <a asp-action="Details" asp-route-id="@module.ModuleId">
                    <span id="ModuleTitle-@module.ModuleId" class="fw-bolder ModuleTitle">@module.Title</span>
                </a>

                @* <!-- Module Title -->
                <span id="ModuleTitle-@module.ModuleId" class="fw-bolder ModuleTitle">@module.Title</span> *@

                <!-- Number of Lessons Container -->
                <div id="NumberOfLessonsContainer" class="NumberOfLessonsContainer">
                    <img class="LessonIcon" src="~/images/lesson.png" />
                    <span id="NumberOfLessons" class="NumberOfLessons">0</span>
                    <span class="fw-normal LessonsText">lessons</span>
                </div>

                <!-- Like and View Count -->
                <div class="LikeViewContainer">
                    <div class="LikeOnlyContainer">
                        <img class="LikeIcon" src="~/images/Like.png" />
                        <span id="LikeCount">0</span>
                    </div>
                    <div class="ViewOnlyContainer">
                        <img class="ViewIcon" src="~/images/View.png" />
                        <span id="ViewCount">0</span>
                    </div>
                </div>

                <!-- Line Break -->
                <div class="ModuleCard_LineBreak"></div>

                <!-- Publish/Unpublish Button -->
                <div id="modCardButtonContainer" class="d-xxl-flex justify-content-between align-items-center">
                    <div id="toggleButtonPublishUnpublishModule" class="d-xxl-flex">
                        <div id="publishModule" class="toggle-content">
                            <img class="PublishIcon" src="~/images/Publish.png" />
                            <span>Publish</span>
                        </div>
                        <div id="unpublishModule" class="toggle-content">
                            <img class="PublishIcon" src="~/images/Unpublish.png" />
                            <span>Unpublish</span>
                        </div>
                    </div>

                    <!-- Edit and Delete Buttons -->
                    <div class="d-xxl-flex justify-content-xxl-end" style="margin-top: 19px;">
                        <a asp-action="Edit" asp-route-id="@module.ModuleId">
                            <img id="EditModule-@module.ModuleId" class="Edit" src="~/images/Edit.png" />
                        </a>
                        <a data-bs-toggle="modal" data-bs-target="#confirmDeleteModal-@module.ModuleId">
                            <img id="DeleteModule-@module.ModuleId" class="Delete" src="~/images/Delete.png" />
                        </a>
                    </div>
                </div>
            </div>
        }
        
        <!-- Add New Module Button -->
        <a asp-action="Create" class="btn add-new-module">
            <img class="d-xxl-flex add_icon" src="~/images/Add.png" /> Add New Module
        </a>
    </div>

    <!-- Search Results Container -->
    <div class="align-items-end flex-wrap ModuleCards_Container" id="SearchResults"></div>

    <!-- Modal Structure for each module -->
    @foreach (var module in Model)
    {
        <div class="modal fade" id="confirmDeleteModal-@module.ModuleId" tabindex="-1" aria-labelledby="confirmDeleteModalLabel-@module.ModuleId" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteModalLabel-@module.ModuleId">Delete Module?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete the module titled "<strong>@module.Title</strong>"?
                    </div>
                    <div class="modal-footer">
                        <form asp-action="Delete" method="post">
                            @Html.AntiForgeryToken()  <!-- Anti-forgery token to secure the POST request -->
                            <input type="hidden" name="id" value="@module.ModuleId" />
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<h2>Modules</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Module</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Created Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var module in Model)
        {
            <tr>
                <td>@module.Title</td>
                <td>@module.Description</td>
                <td>@module.CreatedDate.ToShortDateString()</td>
                <td>
                    <a asp-action="Details" asp-route-id="@module.ModuleId" class="btn btn-info">Details</a> |
                    <a asp-action="Edit" asp-route-id="@module.ModuleId" class="btn btn-warning">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@module.ModuleId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
