@using System.Security.Claims
@model GedsiHub.ViewModels.QuizResultViewModel

@{
    Layout = "_LayoutApp";
    ViewData["Title"] = "Assessment Result";
}

<style>
    

</style>


<div class="feedback-title-searcbar-con results-header">
    <h4 class="create-assessment-text">
        Assessment Result
    </h4>
</div>

<div class="container results-container">

    <div class="results-content">
        <div><span>Total Questions:</span><span>@Model.TotalQuestions</span></div>
        <div><span>Correct Answers:</span><span>@Model.CorrectAnswers</span></div>
        <div><span>Grade:</span><span>@Model.Score.ToString("F2")%</span></div>
        
    </div>
   
</div>

<div class="container results-container">
    <div class="your-score">
        <div>
            @if (Model.Passed)
            {
                <div class="d-flex flex-column justify-content-start align-items-center">
                    <img src="~/images/Party_Popper.png" alt="Celebration Icon" />
                    <p class="ms-2">Congratulations, you passed the assessment!</p>
                    <a asp-controller="Certificate" asp-action="GetCertificate" asp-route-userId="@User.FindFirstValue(ClaimTypes.NameIdentifier)" asp-route-moduleId="@Model.ModuleId" class="btn btn-primary download_cert_button">Download Certificate</a>
                </div>

            }
            else
            {
                <div class="d-flex flex-column justify-content-start align-items-center">
                    <i class="far fa-frown"></i>
                    <p>Almost there! Take a quick review and try again—you’ve got this!</p>
                    <a asp-controller="Module" asp-action="Details" asp-route-id="@Model.ModuleId" class="btn btn-primary download_cert_button">Back to Lessons</a>
                </div>

            }
        </div>
    </div>
</div>


